
#mainNav{
    background-color: #FAEBD7;
}

#about{
    padding-top: 75px;
    text-align: right;
    background-color: #FFE4C4;
}

#about-titel{
    text-align: center;
}

.topright {
    text-align: right;
}
  

.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }
    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}

.ToArrive{
    padding-top: 75px;
}
.title{
    text-align: center;
}

.maps {
    top: 50%;
    width: 100%;
    height:500px;
    padding:0px 125px 75px 125px;
    text-align: center;

}


.toArrive-link {
    text-align: center;
    
}


.waze-p{
    display:inline-block ;
    padding-left: 90px;
    
}

.link{
    padding: 10px;
    font-size: large;
    text-decoration: none;
}
.maps-p{
    display:inline-block ;
}
.img{
    height: 50px;
    width: 50px;
}






#galry{
    padding-top: 75px;
}